.controls-container {
    height: 30vh;
    position: relative;
}

.controls {
    border: var(--color2) 1px solid;
    border-radius: 5px;
}

.controls tr {
    height: 2em;
}

.controls td {
    vertical-align: middle;
    min-width: 40px;
    text-align: right;
}

.left-align {
    text-align: left;
}

.header1 {
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 30px;
}

.header2 {
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: calc(50vw + 20px);
}
